@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Quicksand", serif;
}

body {
    background-color: #f3f4f6;
}

.for_light_theme {
    --primary-color: #34a60e;
    --secondary-color: #536390;
    --font-color: #34a60e;
    --bg-color: #fff;
    --heading-color: #292922;
}

.for_dark_theme {
    --primary-color: #243e22;
    --secondary-color: #818cab;
    --font-color: #161625;
    --bg-color: #161625;
    --heading-color: #818cab;
}
