.legend {
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    width: 150px;
}

.legend-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.legend-color {
    display: flex;
    align-items: center;
    margin: 2px 0;
}

.color-box {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
