table {
    color: #666;
    background: #eaebec;
    border: #ccc 1px solid;
    margin: 2rem 0;
}

table th {
    position: sticky;
    top: 0;
    padding: 15px 35px;
    border-left: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    background: #ededed;
    border-radius: 1rem;
}

table tr {
    text-align: center;
    padding-left: 20px;
}

table td:first-child {
    text-align: left;
    padding-left: 20px;
    border-left: 0;
}

table td {
    padding: 15px 35px;
    background: #fafafa;
}

table tr:hover td {
    background: #f2f2f2;
}
